*.DS_Store
*output.dat
*.pyc
*.egg-info
build/*
dist/*

doc/build/*
doc/source/api/*

nhdspy/NHDS/obj
nhdspy/NHDS/bin
nhdspy/NHDS/parameters.in
nhdspy/NHDS/NHDS
*output_parameters.in.dat

.pytest_cache

*.mod
*.so
*.o
